.current {
    color: green;
}

.header {
    padding: 80px;
    text-align: center;
    background: #3D52D5;
    color: white;
}

.nav {
    padding: 10px;
    text-align: center;
    background: #64E9EE;
    color: white;
}